@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Bebas+Neue&family=Bungee+Spice&family=Dosis:wght@200&family=Gemunu+Libre:wght@300&family=Inconsolata:wght@400;500&family=Passions+Conflict&family=Roboto:wght@400;500;700;800;900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.8;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 900 !important;
}
.container{
    --bs-gutter-x: 3rem !important;
}
a{
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 800 !important;
    color: #20212c;
}
img{
    width: 100%;
    
}

.navbar{
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
    background: -webkit-linear-gradient(#00e0fe,#1107fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
section{
    padding-top: 80px;
    padding-bottom: 80px;
    /* padding:80px 0px; */
    z-index: 2;
    position: relative;
}
.bg-cover{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.hero-section{
    /* width: 100%; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 224, 254,0.7),rgba(17, 7, 254,0.7));
   
    z-index: -1;
}
.btn{
    padding: 14px 22px;
    transition: all 0.3s ease;
}
.btn:hover{
    transform: translateY(-5px);
}
.btn-main{
    background: linear-gradient(to left, #00e0fe,#1107fe);
    border-radius: 100px;
    border: none;
    font-weight: 600px ;
    color: #fff;
}

.section-intro{
    margin-bottom: 40px;
}
.section-intro .divider{
    height: 4px;
    width: 70px;
    background: linear-gradient(to left, #00e0fe,#1107fe);
    margin: 16px auto;
}
.service .service-img{
    /* position: relative; */
}
.service .service-img .icon{
    width: 90px;
    height: 90px;
    background: linear-gradient(to left, #00e0fe,#1107fe);
    color: white;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%); */
}
 .icon i{
    font-size: 36px;
}
.video-btn{
    width: 90px;
    height: 90px;
    background: linear-gradient(to left, #00e0fe,#1107fe);
    color: white;
    border-radius: 100px;
    /* display: flex; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
}
.feature-icon i{
    background: -webkit-linear-gradient(#00e0fe,#1107fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title{
    display: flex;
    align-items: center;
}
.card-p{
    margin-top: -16px !important;
}
.star{
    color: orange;
}
.card{
    /* width: 100%; */
}
form .form-control{
    border-radius: 0;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.5);
    /* color: #fff; */
}
form input.form-control{
   height: 54px;
}
form .form-control:focus{
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    box-shadow: none;
}
form .form-control::placeholder{
    color: rgba(255, 255, 255, 0.8);
}
footer{
    background: linear-gradient(to right, #00e0fe,#1107fe);
    color: #fff;
}
footer a i{
   font-size: 16px;
   margin-right: 5px;
    color: #fff;
}
